<header>
    <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
        <div class="navbar">
            <img class="logoMenu" id="logoMenuMobile" src="../../assets/img/logo_hor.jpg" alt="Logo GF Souza">
            <nav>
                <label for="menu-toggle" class="hamburger">
                    <i class="fa-solid fa-bars fa-2xl" id="burguer" (click)="toggleNavbar()"></i>
                </label>
                <div class="top-navbar">
                    <a id="botaoMenu" mat-raised-button style="cursor: pointer;" href="#quemsomos">Quem Somos</a>
                    <a id="botaoMenu" mat-raised-button style="cursor: pointer;" href="#projetos">Projetos</a>
                    <a id="botaoMenu" mat-raised-button style="cursor: pointer;" href="https://api.whatsapp.com/send?phone=5581988467890" target="_blank">Contato</a>
                    <a id="botaoMenu" mat-raised-button style="cursor: pointer;" href="https://api.whatsapp.com/send?phone=5581988467890&text=Ol%C3%A1!%20Gostaria%20de%20oferecer%20um%20terreno%20a%20construtora!" 
                    target="_blank"
                    >Oferecer meu terreno</a>
                </div>
            </nav>
        </div>
    </div>
</header>

<body>   
    <div class="destaque"> 
        <mat-card class="destaqueImovel">
            <img id="folderKanaloa" src="../../assets/kanaloa/kanaloa2.jpg" alt="">
            <div class="imagensdestaque">
                <img id="imovel01" src="../../assets/kanaloa/kanaloa1.jpg" alt=""
                    (click)="openDialogDestaque01()">
                <img id="imovel03" src="../../assets/kanaloa/kanaloa3.jpg" alt=""
                    (click)="openDialogDestaque02()">
                <img id="imovel03" src="../../assets/kanaloa/kanaloa4.jpg" alt=""
                    (click)="openDialogDestaque03()">
            </div>
            <mat-card-content class="textoDestaque">
                <h1><strong> Residencial Kanaloa </strong></h1>
                <p>Aproveite a oportunidade de adquirir um dos nossos apartamentos em Porto de Galinhas, Pernambuco!
                    Com 8 flats de 21m² e 8 apartamentos de 1 quarto de 23m², nossas acomodações oferecem conforto e
                    praticidade, localizado a apenas 1,5km das piscinas naturais.<br><br>
                    Nosso empreendimento está estrategicamente situado próximo ao centro e ao comércio local, 
                    oferecendo conveniência e acesso fácil a tudo o que você precisa.<br>
                    Cada unidade foi meticulosamente projetada para proporcionar um ambiente aconchegante e funcional, 
                    com espaços bem distribuídos e acabamentos de alta qualidade.<br><br>
                    Não perca a oportunidade de adquirir o seu refúgio nesse pedacinho do paraíso.<br> 
                    Ideal para quem busca investir em um empreendimento de sucesso em um dos destinos 
                    turísticos mais cobiçados do Brasil. Faça já sua reserva!
                    Entre em contato conosco hoje mesmo e garanta o seu espaço em nosso empreendimento exclusivo.<br>
                    Porto de Galinhas espera por você!
                </p>
                <button mat-raised-button 
                        id="whatsIcon2">
                        <a href="https://api.whatsapp.com/send?phone=5581988467890&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20Residencial%20Kanaloa!" 
                        target="_blank">
                            <i class="fa-brands fa-whatsapp fa-2xl">
                            </i>
                            Mais informações
                        </a>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="seta">
        <i class="fa-solid fa-circle-arrow-down fa-2xl" style="color: #04626a;"></i>
    </div>
    <div class="empreendimentos">
        <div class="card">
            <img src="../../assets/imovel03/imovel0301.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title"><strong>Residencial Davio Ferreira 2</strong></h3>
                <p class="card-text">Empreendimento localizado no bairro dos Bultrins em Olinda/PE.</p>
                <button mat-raised-button id="botaoMenu" class="card-button" (click)="openDialog3()">Ver fotos</button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imovel01/Imagem0102.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title"><strong>Residencial Cleo Ferreira</strong></h3>
                <p class="card-text">Empreendimento localizado no bairro do Fragoso em Olinda/PE</p>
                <button mat-raised-button id="botaoMenu" class="card-button" (click)="openDialog1()">Ver fotos</button>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imovel02/Imovel0201.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title"><strong>Residencial Tiffany Ferreira</strong></h3>
                <p class="card-text">Empreendimento localizado no bairro de Pau amarelo em Paulista/PE</p>
                <button mat-raised-button id="botaoMenu" class="card-button" (click)="openDialog2()">Ver fotos</button>
            </div>
        </div>
    </div>
    <div id="quemsomos"></div>
    <div class="quemSomos">
        <mat-card class="quem">
            <img src="../../assets/img/GF SOUZA.png" class="imagemQuem" alt="...">
            <div class="textoQuemSomos">
                <h2 style="font-size: 35px;">Quem Somos</h2><br>
                <p>Somos uma empresa de construção civil com 10 anos de experiência no mercado.
                    Desde o início, nosso objetivo tem sido fornecer serviços de construção de
                    alta qualidade, com um foco especial na satisfação do cliente.<br> Nós nos especializamos
                    em projetos de construção residencial, desde pequenas reformas até grandes empreendimentos.
                    Nosso compromisso com a excelência é evidente em cada projeto que entregamos, e nosso sucesso é
                    baseado
                    em nossa equipe altamente qualificada e experiente, bem como em nossos parceiros confiáveis.<br>
                    Temos orgulho de nosso compromisso com a qualidade, integridade e segurança em todos os nossos
                    projetos.
                    Nosso objetivo é sempre superar as expectativas de nossos clientes, e estamos empenhados em
                    trabalhar em
                    colaboração com eles para alcançar seus objetivos de construção.<br> Nosso compromisso com a
                    excelência e
                    satisfação do cliente tem sido fundamental para o nosso sucesso contínuo ao longo dos anos. Se você
                    está
                    procurando um parceiro confiável para seus projetos de construção, não hesite em nos contatar.
                    Estamos prontos para ajudá-lo a transformar sua visão em realidade.
                </p>
            </div>
        </mat-card>
    </div>
    <div id="projeto"></div>
    <div class="projetos" id="projeto">
        <div class="projetosContainer">
            <div class="textoProjetos">
                <h2 style="font-size: 35px;">Projetos</h2><br>
                <p>Realize seus projetos com excelência e inovação através dos nossos serviços de arquitetura e engenharia. 
                    Seja você uma empresa ou pessoa física, oferecemos soluções personalizadas para atender suas necessidades.<br>
                    Nossa equipe de profissionais altamente qualificados está pronta para transformar seus espaços.
                    Desenvolvemos projetos arquitetônicos que combinam estética e funcionalidade, criando ambientes inspiradores
                    e adaptados ao seu estilo de vida ou negócio.<br>
                    Além disso, contamos com especialistas em projetos elétricos e hidráulicos, garantindo eficiência
                    e segurança em suas instalações. Levamos em consideração as mais recentes tecnologias e normas, 
                    proporcionando soluções sustentáveis e econômicas.<br>
                    Utilizamos recursos avançados de modelagem e projeção 3D para que você possa visualizar seu projeto
                    antes mesmo de iniciar a construção. Dessa forma, é possível fazer ajustes e tomar decisões com 
                    confiança, economizando tempo e dinheiro.<br>
                    Entre em contato conosco hoje mesmo e descubra como nossos serviços de arquitetura e engenharia 
                    podem transformar seu espaço em uma realidade surpreendente e funcional. Sua satisfação é a nossa prioridade!
                </p>
            </div>
            <img src="../../assets/img/engenheiro.jpg" class="imagemProjetos" alt="...">
        </div>
        <div class="whatsapp">
            <a href="http://bit.ly/residencialaltodaserranegra1" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl" id="whatsIcon"></i></a>
        </div>
    </div>
    <footer class="footer">
        <div class="infosFooter">
            <div class="contatoFooter">
                <ul>
                    <h2>CONTATO</h2>
                    <li style="display: flex; flex-direction: column; justify-content: flex-start;">Endereço Residencial
                        Kanaloa
                        <p><i class="fa-sharp fa-solid fa-location-dot"
                                style="color: #ffffff; margin-right: 0.3em;"></i>
                            Rua da assembléia, 300 <br>
                            Porto de Galinhas, Ipojuca - PE</p>
                    </li>
                    <li style="margin-top: 3em; display: flex; flex-direction: row; justify-content: flex-start;"><i
                            class="fa-regular fa-envelope" style="color: #ffffff; margin-right: 0.5em;"></i>
                        gfsouzaconstrucoes@gmail.com</li>
                    <li style="display: flex; flex-direction: row; justify-content: flex-start;"><i
                            class="fa-brands fa-whatsapp" style="color: #ffffff; margin-right: 0.5em;"></i>(81)
                        9.8846-7890</li>
                    <li style="display: flex; flex-direction: row; justify-content: flex-start;"><i
                            class="fa-regular fa-clock" style="color: #ffffff; margin-right: 0.5em;"></i>08hrs às 18hrs
                        de segunda a sábado</li>
                </ul>
            </div>
            <div class="links">
                <ul>
                    <h2>LINKS</h2>
                    <li><a href="#navbar" style="text-decoration: none; font-size: 16px; color: #ffffff;">Home</a></li>
                    <li><a href="#quemsomos" style="text-decoration: none; font-size: 16px; color: #ffffff;">Quem
                            Somos</a></li>
                    <li><a href="#projetos" style="text-decoration: none; font-size: 16px; color: #ffffff;">Projetos</a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=5581988467890" target="_blank"
                        style="text-decoration: none; font-size: 16px; color: #ffffff; cursor: pointer;">Contato</a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=5581988467890&text=Ol%C3%A1!%20Gostaria%20de%20oferecer%20um%20terreno%20a%20construtora!" target="_blank"
                        style="text-decoration: none; font-size: 16px; color: #ffffff; cursor: pointer;">Ofereça seu terreno</a></li>
                </ul>
            </div>
            <div class="instagram">
                <ul>
                    <h2>NÓS SIGA NO INSTAGRAM</h2>
                    <li><a href="https://www.instagram.com/residencial.kanaloa/" target="_blank"
                            style="text-decoration: none; font-size: 18px; color: #ffffff;"><i
                                class="fa-brands fa-instagram fa-lg"
                                style="color: #ffffff; margin-right: 0.3em;"></i>@residencial.kanaloa</a></li>
                    <li><a href="https://www.instagram.com/construtoragfsouza/" target="_blank"
                            style="text-decoration: none; font-size: 18px; color: #ffffff;"><i
                                class="fa-brands fa-instagram fa-lg"
                                style="color: #ffffff; margin-right: 0.3em;"></i>@construtoragfsouza</a></li>
                </ul>
            </div>
        </div>
        <div class="direitos">
            <p>&copy; Gabriel Ferreira 2023</p>
        </div>
    </footer>
</body>