// Tablet

@media (max-width: 768px) {

	// NavBar

	#burguer {
		display: block;
		position: absolute;
		right: 5px;
		margin-right: 1em;
	}

	#burguer:hover {
		color: #0e7d88;
	}

	.navbar {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	//Imovel Destaque

	#folderKanaloa {
		height: 36.4em;
		width: 95%;
	}

	.destaque {
		height: 53em;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.imagensdestaque {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.destaqueImovel {
		width: 90%;
		height: 105em;
		padding: 2em;
		background-color: rgba(14, 125, 136, 0.85);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.destaqueImovel img {
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	#imovel01 {
		cursor: pointer;
		width: 200px;
		height: 200px;
	}
	
	#imovel02 {
		cursor: pointer;
		width: 200px;
		height: 200px;
	}
	
	#imovel03 {
		cursor: pointer;		
		width: 200px;
		height: 200px;
	}

	.textoDestaque {
		color: #ffffff;
		font-size: 14px;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}

	// Formulario de Contato do Destaque

	.formContatoDestaque {
		height: 22em;
	}

	.textoDestaque button{
		color: rgb(250, 250, 250);
		margin-top: 1em;
	}

	.formContatoDestaque input[type=radio] {
		margin-top: 0.5rem;
		cursor: pointer;
		width: 25px;
		height: 20px;
		vertical-align: text-bottom;
	}

	// Seta

	.seta {
		margin-left: auto;
		margin-right: auto;
		width:2em;
		margin-top: 55em;
		height: 4em;
	}

	// Empreendimentos

	.empreendimentos {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.card {
		height: 22em;
		width: 32%;
	}
}