<div id="carouselEmpreendimentos" class="carousel slide">
    <div class="posicaoBotao">
        <div class="botaoFechar">
            <i class="fa-regular fa-circle-xmark fa-2xl" style="color: #fafafa;" (click)="fecharDialog()"></i>    
        </div>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/imovel01/Imagem0102.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0103.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0104.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0105.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0106.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0107.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0108.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/imovel01/Imagem0109.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselEmpreendimentos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselEmpreendimentos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>