// Botao de fechar

.botaoFechar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27px;
	height: 26px;
	border-radius: 20px;
	cursor: pointer;
	margin-bottom: 1em;
}

.posicaoBotao {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.botaoFechar:hover {
	box-shadow: 1px 0px 5px 5px rgb(250, 250, 250);
	margin-bottom: 1em;
}

// Conteudo

img {
	width: 800px;
	height: 600px;
}

// Altera configurações padrões do dialog

::ng-deep .mat-dialog-container {
	box-shadow: none;
	border: none;
	background-color: rgb(14, 125, 136);
}

// Responsividade

@media (max-width: 360px) {
	img {
		width: 400px;
		height: 340px;
	}
}

@media (max-width: 768px) {
	img {
		width: 550px;
		height: 600px;
	}
}
